{% extends 'IcanBundle::layout.html.twig' %}

{% block subtitle %} - Servicios{% endblock %}

{% block stylesheetspecific %}
    <link href="{{ asset('bundles/ican/plugins/jquery-tags-input/jquery.tagsinput.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block content %}
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Dashboard</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="{{ url('home') }}" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Servicios</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Administre la página servicios</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    <div class="m-content">
        <div id="form-servicio" class="m-portlet" m-portlet="true">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" id="form-slider-title">
                            ¿Deseas administrar tu página de servicios? Sigue los siguientes pasos:
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="#" m-portlet-tool="fullscreen"
                               class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <form class="m-form" id="servicio-form" action="#"
                  enctype="multipart/form-data" method="post">

                <input type="hidden" id="servicio_id" name="servicio_id"
                       value="{% if servicio is not null %}{{ servicio.servicioId }}{% endif %}"/>

                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group ic-form-group">
                            <label>
                                <span class="ic-step-number">1</span>
                                Para comenzar, ingresa el título de tu página de servicios
                                <span class="ic-small italic">(obligatorio)</span>
                            </label>
                            <p class="m-form__help">
                                Este título se incrustará en los META de la página permitiendo optimizar la busqueda de
                                los buscadores.
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control event-change" id="titulo"
                                           name="titulo"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group ic-form-group">
                            <label>
                                <span class="ic-step-number">2</span>
                                A continuación, ingrese el contenido para tu página de servicios
                                <span class="ic-small italic">(obligatorio)</span>
                            </label>
                            <p class="m-form__help">
                                Utiliza el editor de texto para generar el contenido de tu página de servicios. Los
                                primeros 160 caracteres de la descripción seran usados en los META de la página,
                                permitiendo optimizar la busqueda de los buscadores.
                            </p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="descripcion" class="summernote"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group ic-form-group">
                            <label>
                                <span class="ic-step-number">3</span>
                                Seguidamente, ingrese las palabras claves de tu página de servicios
                                <span class="ic-small italic">(obligatorio)</span>
                            </label>
                            <p class="m-form__help">Estos tags se incrustarán en los META de la página, permitiendo
                                optimizar la busqueda
                                de los buscadores.</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control tags event-change" id="tags"
                                           name="tags"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group ic-form-group">
                            <label>
                                <span class="ic-step-number">4</span>
                                Para finalizar, selecciona las imagenes para la galería que será mostrada en tu página
                                de servicio.
                                Las medidas de la imagen deben ser 1169px de ancho y 487px de alto
                                <span class="ic-small italic">(opcional)</span>
                            </label>
                            <p class="m-form__help">
                                Puedes arrastrar una imagen directamente desde una carpeta de
                                tu computadora al área señalada en este paso. O simplemente hacer click. Las
                                imágenes deben estar en formato jpg, jpeg o png.
                            </p>
                            <div class="row">
                                <div class="col-md-12" id="processing-dropzone">
                                    <div class="m-dropzone my-dropzone m-dropzone--primary" id="my-dropzone">
                                        <div class="m-dropzone__msg dz-message needsclick">
                                            <h3 class="m-dropzone__msg-title">
                                                Arrastra o has click para subir.
                                            </h3>
                                            <span class="m-dropzone__msg-desc">
                                                    sube tu galería de fotos
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-form__actions">
                        <button id="btn-salvar-servicio" class="btn btn-success" type="button">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascriptsspecific %}
    <script src="{{ asset('bundles/ican/plugins/jquery-tags-input/jquery.tagsinput.min.js') }}"></script>
    <script src="{{ asset('bundles/ican/js/pages/servicios.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            Servicios.init();
        });
    </script>
{% endblock %}
