<div class="social">
    <ul class="social-share">
        {% if redsocial.activarfacebook %}
            <li>
                <a href="{{ redsocial.facebook }}" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
        {% endif %}
        {% if redsocial.activaryoutube %}
            <li>
                <a href="{{ redsocial.youtube }}" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </li>
        {% endif %}
        {% if redsocial.activartwitter %}
            <li>
                <a href="{{ redsocial.twitter }}" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
        {% endif %}
        {% if redsocial.activarflickr %}
            <li>
                <a href="{{ redsocial.flickr }}" target="_blank">
                    <i class="fa fa-flickr"></i>
                </a>
            </li>
        {% endif %}
        {% if redsocial.activarinstagram %}
            <li>
                <a href="{{ redsocial.instagram }}" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        {% endif %}
        {% if redsocial.activarlinkedin %}
            <li>
                <a href="{{ redsocial.linkedin }}" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        {% endif %}
        {% if redsocial.activarsoundcloud %}
            <li>
                <a href="{{ redsocial.soundcloud }}" target="_blank">
                    <i class="fa fa-soundcloud"></i>
                </a>
            </li>
        {% endif %}
        {% if redsocial.activartumblr %}
            <li>
                <a href="{{ redsocial.tumblr }}" target="_blank">
                    <i class="fa fa-tumblr"></i>
                </a>
            </li>
        {% endif %}
        {% if redsocial.activarvimeo %}
            <li>
                <a href="{{ redsocial.vimeo }}" target="_blank">
                    <i class="fa fa-vimeo-square"></i>
                </a>
            </li>
        {% endif %}
        {% if redsocial.activargoogle %}
            <li>
                <a href="{{ redsocial.google }}" target="_blank">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</div>