{% if pager.isFirstPage %}
    <li class="page-item">
        <a class="page-link" href="#">← Anterior</a>
    </li>
{% else %}
    <li class="page-item">
        <a class="page-link" href="{{ paginate_path(route, pager.getPreviousPage, parameters) }}">← Anterior</a>
    </li>
{% endif %}

{% for page in pager.getPages %}

    {% if page == pager.getPage %}
        <li class="page-item">
            <a class="page-link active" href="#">{{ page }}</a>
        </li>
    {% else %}
        <li class="page-item">
            <a class="page-link" href="{{ paginate_path(route, page, parameters) }}">{{ page }}</a>
        </li>
    {% endif %}
{% endfor %}

{% if pager.isLastPage %}
    <li class="page-item">
        <a class="page-link" href="#">Próximo →</a>
    </li>
{% else %}
    <li class="page-item">
        <a class="page-link" href="{{ paginate_path(route, pager.getNextPage, parameters) }}">Próximo →</a>
    </li>
{% endif %}