{% extends 'IcanBundle::layout.html.twig' %}

{% block subtitle %} - Productos{% endblock %}

{% block stylesheetspecific %}
    <link href="{{ asset('bundles/ican/plugins/jquery-tags-input/jquery.tagsinput.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/ican/css/jquery.Jcrop.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Dashboard</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="{{ url('home') }}" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Productos</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Administre las productos</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    <div class="m-content">
        <div id="lista-producto" class="m-portlet m-portlet--mobile" m-portlet="true">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Mis Productos
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="#" m-portlet-tool="fullscreen"
                               class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <!--begin: actions -->
                <div class="m-form m-form--label-align-right m--margin-bottom-20">
                    <div class="row">
                        <div class="col-xl-12 order-1 m--align-left">
                            <a id="btn-nuevo-producto"
                               class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--air"
                               href="#">
							<span>
								<i class="la la-plus"></i>
								<span>
									Nuevo
								</span>
							</span>
                            </a>
                            <a id="btn-eliminar-producto"
                               class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air m--pull-right"
                               href="#">
							<span>
								<i class="la la-trash-o"></i>
								<span>
									Eliminar
								</span>
							</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end: actions -->
                <!--begin: Search Form -->
                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-12 order-1">
                            <div class="form-group m-form__group row align-items-center">
                                <div class="col-md-3">
                                    <select class="form-control m-select2" id="filtro-categoria">
                                        <option value="">Categoría</option>
                                        {% for item in categorias %}
                                            <option value="{{ item.categoria_id }}" class="{{ item.class }}">{{ item.descripcion }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control m-select2" id="filtro-marca">
                                        <option value="">Marca</option>
                                        {% for item in marcas %}
                                            <option value="{{ item.marcaId }}">{{ item.nombre }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input m_form_search"
                                               placeholder="Buscar...">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
									<span><i class="la la-search"></i></span>
								</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="javascript:;" id="btn-filtrar"
                                       class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-search"></i>
                                    <span>Filtrar</span>
                                </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--end: Search Form -->
                <!--begin: Datatable -->
                <div class="m_datatable" id="producto-table-editable"></div>
                <!--end: Datatable -->
            </div>
        </div>

        <div id="form-producto" class="m-portlet m--hide">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" id="form-producto-title">
                            ¿Deseas crear un nuevo producto? Sigue los siguientes pasos:
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="javascript:;"
                               class="m-portlet__nav-link m-portlet__nav-link--icon cerrar-form-producto"><i
                                        class="la la-close"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="m-portlet__body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active wizard-tab" data-item="1"
                           data-toggle="tab" href="#tab-content-general" id="tab-general">
                            General
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link wizard-tab" data-item="2"
                           data-toggle="tab" href="#tab-content-seo" id="tab-seo">
                            Seo on Page
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link wizard-tab" data-item="3"
                           data-toggle="tab" href="#tab-content-relacionados" id="tab-relacionados">
                            Relacionados
                        </a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="tab-content-general" role="tabpanel">
                        <form class="m-form" id="producto-form" action="#"
                              enctype="multipart/form-data" method="post">

                            <input type="hidden" id="producto_id" name="producto_id"/>

                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group ic-form-group">
                                    <label>
                                        <span class="ic-step-number">1</span>
                                        Para comenzar, ingrese el nombre del producto
                                        <span class="ic-small italic">(obligatorio)</span>
                                    </label>
                                    <p class="m-form__help">
                                        Es muy importante que elijas un nombre claro y representativo,
                                        a través del cual puedas identificar fácilmente tu producto una vez creado.
                                    </p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control event-change" id="nombre"
                                                   name="nombre"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <label>
                                        <span class="ic-step-number">2</span>
                                        A continuación, selecciona la marca y categoría del producto
                                        <span class="ic-small italic">(obligatorio)</span>
                                    </label>
                                    <div class="row">
                                        <div class="col-md-6" id="select-marca">
                                            <label>Marca</label>
                                            <select class="form-control m-select2" id="marca" name="marca">
                                                <option value="">Seleccione una marca</option>
                                                {% for item in marcas %}
                                                    <option value="{{ item.marcaId }}">{{ item.nombre }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6" id="select-categoría">
                                            <label>Categoría</label>
                                            <select class="form-control m-select2" id="categoria" name="categoria">
                                                <option value="">Seleccione una categoría</option>
                                                {% for item in categorias %}
                                                    <option value="{{ item.categoria_id }}"
                                                            class="{{ item.class }}">{{ item.descripcion }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-form__group ic-form-group">
                                    <label>
                                        <span class="ic-step-number">3</span>
                                        Seguidamente, selecciona la imagen principal del producto.
                                        Las medidas de la imagen deben ser 591px de ancho y 447px de alto
                                        <span class="ic-small italic">(obligatorio)</span>
                                    </label>
                                    <p class="m-form__help">
                                        Puedes arrastrar una imagen directamente desde una carpeta de
                                        tu computadora al área señalada en este paso. O simplemente hacer click. Las
                                        imágenes deben estar en formato jpg, jpeg o png.
                                    </p>
                                    <div class="row">
                                        <div class="col-md-5" id="processing-dropzone">
                                            <div class="m-dropzone my-dropzone m-dropzone--primary" id="my-dropzone">
                                                <div class="m-dropzone__msg dz-message needsclick">
                                                    <h3 class="m-dropzone__msg-title">
                                                        Arrastra o has click para subir.
                                                    </h3>
                                                    <span class="m-dropzone__msg-desc">
                                                    sube tu galería de fotos
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <label>
                                        <span class="ic-step-number">4</span>
                                        Luego, las imagenes para la galería que será mostrada en la producto.
                                        Las medidas de la imagen deben ser 591px de ancho y 447px de alt
                                        <span class="ic-small italic">(opcional)</span>
                                    </label>
                                    <p class="m-form__help">
                                        Puedes arrastrar una imagen directamente desde una carpeta de
                                        tu computadora al área señalada en este paso. O simplemente hacer click. Las
                                        imágenes deben estar en formato jpg, jpeg o png.
                                    </p>
                                    <div class="row">
                                        <div class="col-md-12" id="processing-dropzone-galeria">
                                            <div class="m-dropzone my-dropzone m-dropzone--primary" id="my-dropzone-galeria">
                                                <div class="m-dropzone__msg dz-message needsclick">
                                                    <h3 class="m-dropzone__msg-title">
                                                        Arrastra o has click para subir.
                                                    </h3>
                                                    <span class="m-dropzone__msg-desc">
                                                    sube tu galería de fotos
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <label>
                                        <span class="ic-step-number">5</span>
                                        Luego, describe tu producto
                                        <span class="ic-small italic">(obligatorio)</span>
                                    </label>
                                    <p class="m-form__help">
                                        Utiliza el editor de texto para generar una descripción completa de tu producto. Los primeros 160 caracteres de la descripción seran usados en los META de la página del producto, permitiendo optimizar la
                                        busqueda de los buscadores.
                                    </p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="descripcion" class="summernote"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <label><span class="ic-step-number">6</span>Define el estado en el que se
                                        creará la producto</label>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="m-form__group form-group">
                                                <div class="m-radio-inline">
                                                    <label class="m-radio">
                                                        <input type="radio" name="radioestado" id="estadoactivo"
                                                               class="event-change" checked>
                                                        Activo
                                                        <span></span>
                                                    </label>
                                                    <label class="m-radio">
                                                        <input type="radio" name="radioestado" id="estadoinactivo"
                                                               class="event-change">
                                                        Inactivo
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <label>
                                        <span class="ic-step-number">7</span>
                                        Ingresa el Stock disponible de tu producto y los precios
                                        <span class="ic-small italic">(opcional)</span>
                                    </label>
                                    <p class="m-form__help">Se ha preparado un stock genérico según necesidades.</p>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Stock:</label>
                                            <div class="input-group m-input-group">
                                                <input class="form-control just-number" type="number" id="stock" name="stock"/>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Cant.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Precio Normal:</label>
                                            <div class="input-group m-input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       $
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control form-control-number"
                                                       id="precio" name="precio"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Precio Oferta:</label>
                                            <div class="input-group m-input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                       $
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control form-control-number"
                                                       id="precioOferta" name="precioOferta"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Mostrar Precio:</label>
                                            <div class="m-form__group form-group">
                                                <div class="m-radio-inline">
                                                    <label class="m-radio">
                                                        <input type="radio" name="radiomostrarPrecio" id="mostrarPrecioactivo" class="event-change" checked>
                                                        Si
                                                        <span></span>
                                                    </label>
                                                    <label class="m-radio">
                                                        <input type="radio" name="radiomostrarPrecio" id="mostrarPrecioinactivo" class="event-change">
                                                        No
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <label><span class="ic-step-number">8</span>Define la fecha y hora en que se
                                        publicará tu producto <span class="ic-small italic">(obligatorio)</span></label>
                                    <p class="help-block">Este campo define el momento exacto de publicación de tu
                                        producto.</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="input-group date">
                                                <input type="text" class="form-control event-change m-input date-time-picker" readonly="" id="fecha" name="fecha">
                                                <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar glyphicon-th"></i>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab-content-seo" role="tabpanel">
                        <form class="m-form" id="seo-form" action="#"
                              enctype="multipart/form-data" method="post">

                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group ic-form-group">
                                    <label>
                                        <span class="ic-step-number">1</span>
                                        Título
                                        <span class="ic-small italic">(obligatorio)</span>
                                    </label>
                                    <p class="m-form__help">
                                        Este título se incrustará en los META de la página con el listado de productos
                                        de la producto, permitiendo optimizar la busqueda de los buscadores.
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control event-change" id="titulo"
                                                   name="titulo"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <label>
                                        <span class="ic-step-number">2</span>
                                        Palabras claves
                                        <span class="ic-small italic">(obligatorio)</span>
                                    </label>
                                    <p class="m-form__help">Estos tags se incrustarán en los META de la página
                                        con el listado de productos de la producto, permitiendo optimizar la busqueda
                                        de los buscadores.</p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control tags event-change" id="tags"
                                                   name="tags"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="tab-pane" id="tab-content-relacionados" role="tabpanel">
                        <div class="row" id="lista-relacionados">
                            <div class="col-lg-12">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right">
                                    <div class="row align-items-center">
                                        <div class="col-xl-12 order-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                <div class="col-md-8">
                                                    <div class="btn-group">
                                                        <button id="btn-agregar-relacionados" class="btn btn-success"
                                                                style="margin-bottom: 20px; margin-top: 10px;">
                                                            Agregar <i class="la la-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m_form_search"
                                                               placeholder="Buscar...">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span><i class="la la-search"></i></span>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="lista-relacionados-table-editable"></div>
                                <!--end: Datatable -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-form">
                    <div class="m-form__actions text-center">
                        <button id="btn-wizard-anterior"
                                class="btn btn-info m--hide" type="button">
                            Anterior
                        </button>

                        <button id="btn-wizard-siguiente"
                                class="btn btn-primary" type="button">
                            Siguiente
                        </button>
                        <button id="btn-wizard-finalizar" class="btn btn-success m--hide" type="button">
                            Guardar
                        </button>
                        <button class="btn btn-danger cerrar-form-producto" type="button">
                            Cancelar
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-relacionados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Productos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="lista-relacionado">
                        <!--begin: Search Form -->
                        <div class="m-form m-form--label-align-right m--margin-bottom-15">
                            <div class="row align-items-center">
                                <div class="col-xl-12 order-1">
                                    <div class="form-group m-form__group row align-items-center">
                                        <div class="col-md-3">
                                            <select class="form-control m-select2" id="filtro-categoria-relacionado">
                                                <option value="">Categoría</option>
                                                {% for item in categorias %}
                                                    <option value="{{ item.categoria_id }}"
                                                            class="{{ item.class }}">{{ item.descripcion }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-control m-select2" id="filtro-marca-relacionado">
                                                <option value="">Marca</option>
                                                {% for item in marcas %}
                                                    <option value="{{ item.marcaId }}">{{ item.nombre }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="m-input-icon m-input-icon--left">
                                                <input type="text" class="form-control m-input m_form_search"
                                                       placeholder="Buscar...">
                                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                                    <span><i class="la la-search"></i></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="javascript:;" id="btn-filtrar-relacionados"
                                               class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--air">
                                                <span>
                                                    <i class="la la-search"></i>
                                                    <span>Filtrar</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--end: Search Form -->
                        <!--begin: Datatable -->
                        <div class="m_datatable" id="relacionados-table-editable"></div>
                        <!--end: Datatable -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsspecific %}
    <script src="{{ asset('bundles/ican/plugins/jquery-tags-input/jquery.tagsinput.min.js') }}"></script>
    <script src="{{ asset('bundles/ican/plugins/jquery-number/jquery.number.min.js') }}"></script>
    <script src="{{ asset('bundles/ican/plugins/jcrop/jquery.color.js') }}"></script>
    <script src="{{ asset('bundles/ican/plugins/jcrop/jquery.Jcrop.js') }}"></script>
    <script src="{{ asset('bundles/ican/js/pages/productos.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            Productos.init();
        });
    </script>
{% endblock %}
